@import "support style.css";

.header {
    width: 100%;
    padding: 32px 0;
}

.navbar {
    width: 620px;
    margin: 0 auto;
    font-size: 18px;
}

.link-wrapper {
    display: inline-block;
    margin-right: 72px;
}

.link-wrapper:last-child {
    margin-right: -22px;
}

.link-colour {
    color: red;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}

.background {
    width: 100%;
    height: 789px;
    background-color: #cc1fff;
    background-position: center center;
    background-image: url("../img/front image.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-block {
    width: 100%;
    padding: 48px 58px 42px;
    text-align: center;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 38px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    margin-top: 28px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    box-sizing: border-box;
}

.action-button {
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: 66px;
    color: #FFFFFF;
}

.copy-rights {
    width: 100%;
    height: 39px;
    margin-bottom: 29px;
}

.footer-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    padding: 32px 152px;
}